.article {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    border-left: 5px solid #3d7e9a;
}
.mk {
    background-color: #fff;
    width: 755px;
}
.mk h3 {
    padding: 5px 20px 5px 15px;
}

.mk p {
    padding: 0 15px;
    color: #777;
}

.articleMore {
    text-align: right;
    padding: 5px 10px 7px 0;
}
.mk a {
    text-decoration: none;
    color: #000;
}
.mk a:hover {
    text-decoration: underline;
}
.articleMore a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #444;
}
.articleMore a:hover {
    color: #000;
}
.articleMore a i::before {
    content: ">";
}

@media screen and (max-width: 600px) {
    .article {
        flex-direction: column;
        align-items: center;
        border-left: 0;
    }
    .mk {
        border-left: 5px solid #3d7e9a;
        max-width: 355px;
    } 
    .articleMore {
        text-align: right;
        padding: 10px 10px 10px 0;
    }
}