.commentItem {
    margin-top: 15px;
    min-height: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
}

.userName {
    font-weight: bold;
    font-size: 18px;
    color: #444;
}
.date {
    font-size: 16px;
    line-height: 14px;
}
.text {
    margin-top: 7px;
    padding: 1px 5px;
    font-size: 16px;
    line-height: 16px;
    padding-top: 4px;
    word-wrap: break-word;
}