.header {
    background-color: #6ccedd;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    display: flex;
    justify-content: center;
}
.header ul {
    display: flex;
    flex-direction: row;
}

.litoggle button {
    font-weight: 600;
    padding: 15px 0 14px 0;
    font-size: 17px;
    background-color: #6ccedd;
}
.litoggle button:hover {
    background-color: #26bec9;
}
.litoggle {
    display: flex;
    flex-direction: column;
}
.litoggle a{
    color: #fff;
    text-decoration: none;
    padding: 13px  27px;
}
.ultoggle li{
    list-style-type: none;
    padding: 13px 0 12px 0;
    position: relative;
    margin: 7px 0 -3px 0;
    padding: 13px 12px 9px 12px;
    background-color: #26bec9;

}

.ultoggle li:hover {
    background-color: #1f1f1f;
    transition-duration: 0.9s;
}
.li {
    list-style-type: none;
    padding: 13px 27px 12px 27px;
    margin: 0 20px;
}
.li a {
    text-decoration: none;
    color: #fff;
}

.overlay {
    transition-duration: 0.9s;
    top: 50px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 65, 65, 0.4);
}

.li:hover {
    background-color: #26bec9;
}

.ultoggle {
    justify-content: center;
}
.ultoggled li {
    display: none;
}
.litoggle button {
    padding: 16px 27px 13px 27px;
    outline: none;
}

@media screen and (max-width: 600px) {
    .li {
        padding: 13px 7px 12px 7px;
        margin: 0 10px;
    }
    .litoggle button {
        padding: 13px 27px 16px 27px;
    }
}