.post {
}
.mainImg {
    max-width: 900px;
    margin-top: 10px;
    padding: 10px 5px;
}
.mainImg img {
    width: 100%;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h1 {
    padding: 10px 5px 5px 5px; 
    max-width: 900px;
}

.info span {
    color: #a0a0a0;
    font-weight: 600;
    margin: 0 10px 10px 0;
}
.info span i {
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: #555;
}
.info span i::before {
    width: 18px;
    height: 18px;
    margin: 2px 6px 0 0;
    display: block;
    content: "";
    background-image: url('https://cdn2.iconfinder.com/data/icons/picol-vector/32/view-512.png');
    background-size: 18px;
    background-repeat: no-repeat;
}

.body { 
    max-width: 900px;
}

.article h3{
    text-indent: 1em;
    padding-bottom: 10px;
    margin: 60px 7px -5px 7px;
    font-style: italic;
    letter-spacing: 0.5px;
}
.article img {
    margin: 5px 0;
}
.article p{
    text-align: justify;
    text-indent: 0.5em;
    padding-bottom: 5px;
    margin: 7px 10px;
    border-bottom: 1px solid rgba(150, 150, 150, 0.1);
    line-height: 1.7;
}


@media screen and (max-width: 600px) {
    .info span i::before {
       margin: 0px 6px 0 0;
    }
    .article p{
        border-bottom: 1px solid rgba(150, 150, 150, 0.2);
        margin: 20px 10px 20px 12px;
        line-height: 1.8;
    }
    .article h3{
        margin: 60px 10px -15px 12px;
    }
}