.user {
    background: url(https://freeicons.io/laravel/public/uploads/icons/png/3856828411556283714-16.png) no-repeat scroll  4px 5px;
}

.wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 550px;
}

.wrapp form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 60px 40px;
    margin-bottom: 80px;
    background-color: #fff;
}

.wrapp h2 {
    margin: 60px 0 30px 0;
}

.wrapp form input {
    height: 27px;
    padding-left: 25px;
    margin-bottom: 24px;
    font-size: 14px;
    color: rgb(0, 57, 61);
}
.loginButt {
        background-color: #047e89;
        padding: 14px 30px;
        border: none;
        font-size: 15px;
        cursor: pointer;
        color: white;
}

.unlogin {
    margin-top: 15px;
    padding: 4px 15px;
    background-color: rgba(4, 126, 137, 0.7);
    border: none;
    font-size: 15px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.pass {
    background: url(https://www.troyhunt.com/content/images/2016/02/13061305lock2.png) no-repeat scroll  4px 5px;
}

.logined {
    color: #f55; 
    text-align: center; 
    font-size: 16px;
    margin-top: 20px; 
}

@media screen and (max-width: 600px) {
    .wrapp form {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 300px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 40px 30px;
        margin-bottom: 80px;
        background-color: #fff;
    }
}